body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ca0e69;
  }
  
  #emoji {
    font-size: 10rem;
    filter:opacity(0);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 200ms;
    
  }

  .box{
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    color: bisque;
    background-color: antiquewhite;
  }
  
  #emoji:hover {
    transform: scale(1.3);
    filter: grayscale(0);
  }